<div>
	       
  <a href="https://twitter.com/share" data-url="<%= request.url %>" class="twitter-share-button"
     data-text="Los mejores computadores para PC gamers hechos en Colombia. Entérate." data-lang="es">Tweet</a>
  <div class="g-plusone" data-size="medium" data-width="300" data-href="<%= request.url %>"></div>
  <div class="fb-like vertical-top" data-href="<%= request.url %>" data-send="false" data-layout="button_count"
       data-width="450" data-show-faces="true" data-font="tahoma"></div>

<hr>
</div>