<div class="container">
  <div class="row">
    <div class="span12 black-bg">
      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
              <li class="active">
                <a href="#1" data-toggle="pill" class="sharp">History<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#2" data-toggle="pill" class="sharp">Corporate values<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#3" data-toggle="pill" class="sharp">Passion<i class="icon-chevron-right pull-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span8 tab-content">
          <div id="1" class="tab-pane active contenido-compania">
            <h1>History</h1>
            <p>We’ve been passionate gamers since we have memory, but we’ve always had difficulties getting the best devices for our goals. High prices and low quality products that can’t satisfy our needs have marked Colombian gaming history. That’s why our project started a year ago with the idea of creating a Desktop Gaming PC offering a great balance in performance and price, using the latest technologies in the development process. This need was born when the market failed to offer such balanced Desktop PC for gaming at a good price.</p>
          </div>
          <div id="2" class="tab-pane contenido-compania">
            <h1>Corporate values</h1>
            <ul>
              <li>Perseverancia.</li>
              <li>Humildad.</li>
              <li>Mostrar gratitud y respeto por otros.</li>
              <li>Poseer un gran espíritu de equipo.</li>
              <li>Al enfrentar problemas, fijarse en áreas de responsabilidad personal en vez de culpar a otros.</li>
              <li>Estar fuertemente motivado y luchar por la superación.</li>
              <li>Integridad.</li>
              <li>Ser honesto, sincero y veraz.</li>
              <li>Entender y aceptar las propias fortalezas y debilidades.</li>
              <li>Desarrollar relaciones profesionales abiertas.</li>
              <li>Pasión.</li>
              <li>Creatividad.</li>
            </ul>

            <h1>Ethical code:</h1>
            <p>Trabajar con Rolem, es empezar una vida de innovación en pro del beneficio de los PC Gamers, lo cual requiere asumir un conjunto de conductas y responsabilidades para facilitar la convivencia y el desarrollo eficiente de las actividades diarias en la compañía.</p>

            <p>Estamos altamente comprometidos con el desarrollo de soluciones con un excelente balance entre desempeño, calidad, diseño y precio. Por esto mismo nuestros asociados a todo nivel, se distinguen por su afinidad con las siguientes características:</p>

            <h1>Conciencia sobre el contexto socio-económico del país:</h1>
            <p>En Colombia, la mayoría de las personas no tiene suficiente poder adquisitivo como para comprar un sistema de ultimo nivel, ni para renovarlo en periodos cortos de tiempo. De aquí surge la necesidad de diseñar productos que no solo sean costo-efectivos, sino que también hagan uso de las últimas tecnologías, de tal manera que se ayude a reducir la brecha socio-económica.</p>

            <h1>Conciencia ambiental:</h1>
            <p>Sobra resaltar la importancia de cuidar el medio ambiente, por esto mismo debemos comprometernos permanentemente en optimizar el diseño de nuestros sistemas, de tal manera que podamos minimizar el consumo energético de nuestros productos. Claramente esto también se debe reflejar en nuestras instalaciones administrativas y de producción.</p>

            <h1>Amplios conocimientos sobre tecnología:</h1>
            <p>Siendo un individuo asociado a Rolem, este debe tener un amplio y profundo conocimiento de la industria, significando esto que en ningún momento se debe hacer mal uso de tal juicio.</p>
            <p>Por ejemplo, bajo ninguna circunstancia, se debe sacar provecho de la ignorancia de un potencial cliente o segmento de mercado, de tal manera que siempre se deben diseñar y comercializar los mejores productos posibles.</p>
          </div>
          <div id="3" class="tab-pane contenido-compania">
            <h1>Passion for gaming and computers</h1>
            <p>Todos nuestros empleados y socios deben tener amplias bases y un buen historial ya sea en el ámbito de los computadores personales o en los videojuegos.</p>
            <p>Por ejemplo, esta experiencia es importante en el momento de comprender el direccionamiento de la empresa, lo cual se hace fundamental al tener algún acercamiento a un cliente o un posible contacto de negocios.</p>

            <h5>•Filosofía Empresarial:</h5>
            <p>En vez de obedecer los estándares y factores de forma de los Desktops convencionales, Rolem rompe las normas obedecidas por los PCs de escritorio regulares para crear una de las experiencias de juego de PC más compactas y emocionantes que existen. Rolem es la evolución de los PCs de juegos.</p>
            <p>Rolem ha tomado todas las características necesitadas por un jugador, y las ha encajado en varios diseño ultra-portátil que no es mucho más grande que una consola de juegos promedio.</p>
            <p>A diferencia de otros PCs pequeños que hayas visto. Rolem no ofrece propuestas compactas porque no tengan mucho adentro. Realizamos nuestros diseños de tal manera que se ajusten a las necesidades más exigentes, y cada milímetro de espacio está lleno de poder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>