<div class="container">
  <div class="row">

    <div class="span12 black-bg comprar"style="margin-bottom:50px;">

      <div class="row ">
<!--         <div class="span3">
          <div class="direcciones">
            <h3>Unilago</h3>
            <p>Carrera 15</p>
            <h3>Unicentro</h3>
            <p>Carrera 15 con calle 127</p>
            <h3>Bulevar</h3>
            <p>Avenida suba con calle 127</p>
          </div>

         

        </div> -->
        <div class="span3"></div>
        <div class="span6 contrato">
          <br><br>
        <p>  <strong>Estamos desarrollando un Store Online con las últimas tecnologías y procesos automatizados. Pero mientras tanto, si quieres comprar alguno de nuestros productos, tan solo debes seguir los siguientes pasos:</strong></p>
        <p>
                  <ol>
          <li>Elige el Rolem que más te guste!</li>
          <li>Lee, diligencia y firma el siguiente Contrato de Compraventa:</li>
          <li>Consigna el 30% del valor del producto elegido a la cuenta de ahorros mencionada en el Contrato.</li>
          <li>Envíanos un e-mail a contact@rolem.co, donde debes incluir lo siguiente:
            <ul>
              <li>Una imagen escaneada del Contrato de Compraventa debidamente diligenciado.</li>
              <li>Una imagen escaneada del recibo de consignación.</li>
              <li>Tu nombre, teléfono y dirección.</li>
            </ul> 
          </li>
          <li>Espera a que nosotros te contactemos con la confirmación de tu pedido.</li>
          <li>Te entregaremos tu nuevo Rolem tan pronto como lo tengamos listo!</li>
        </ol>
        </p>
        <p>Ofrecer un excelente servicio es nuestra prioridad, si tienes alguna duda, puedes escribirnos un correo cuando desees.
</p>
            <br>
          <div class="descarga"><h3>Contrato: </h3> <a href="https://dl.dropboxusercontent.com/s/3ic50oaoxhac2t9/Contrato%20de%20Compraventa.docx?dl=1&token_hash=AAGt7wq23mAkMjNyp191vGrxTtSwPshe5oZN-BYNxb4MMA">Descargar</a></div>
          <br><br>
        </div> 
      </div>
    </div>
  </div>
</div>


<!-- <script>
//     function initialize() {
//         // Inicialización del mapa
//         var map_canvas = document.getElementById('map_canvas');
//         var map_options = {
//             center: new google.maps.LatLng(4.664757, -74.058323),
//             zoom: 14,
//             mapTypeId: google.maps.MapTypeId.ROADMAP
//         }
//         var map = new google.maps.Map(map_canvas, map_options);

//         // Marcador
//         var image = '/assets/marcador.png';
//         var myLatlng = new google.maps.LatLng(4.664757, -74.058323);
//         var marker = new google.maps.Marker({
//             position: myLatlng,
//             map: map,
//             animation: google.maps.Animation.DROP,
//             icon: image
//         });

//         // Información del marcador
//         var infoWindow = new google.maps.InfoWindow({
//             content: 'Compra aquí. Carrera 15'
//         });
//         google.maps.event.addListener(marker, 'click', function () {
//             infoWindow.open(map, marker);
//         });
//     }
//     google.maps.event.addDomListener(window, 'load', initialize);
// </script>-->