<div class="container">
  <div class="row">
    <div class="span12 black-bg">
      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
              <li class="active">
                <a href="#1" data-toggle="pill" class="sharp">Historia, Misión Y Visión.<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#2" data-toggle="pill" class="sharp">Valores corporativos.<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#3" data-toggle="pill" class="sharp">Código Ético.<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#4" data-toggle="pill" class="sharp">Filosofía Empresarial.<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#5" data-toggle="pill" class="sharp">Legal<i class="icon-chevron-right pull-right"></i></a>
              </li>              
            </ul>
          </div>
        </div>
        <div class="span8 tab-content">

          <div id="1" class="tab-pane active contenido-compania">
            <h2>Historia:</h2>
            <p>Hemos sido Gamers apasionados desde que tenemos memoria, pero siempre hemos tenido dificultades al intentar obtener los mejores dispositivos para nuestras metas. Altos precios y productos de baja calidad que no pueden satisfacer nuestras necesidades han marcado la historia de los videojuegos en Colombia. Es por esto que nuestro proyecto empezó, con la idea de crear PC Desktops para jugar, ofreciendo el mejor balance entre desempeño y precio, usando las últimas tecnologías en el proceso de desarrollo y teniendo siempre una clara visión de lo que debe ser el futuro de los PCs para las presentes y nuevas generaciones.</p>
            <h2>Misión:</h2>
            <p></p>
            <h2>Visión:</h2>
            <p></p>
          </div>

          <div id="2" class="tab-pane contenido-compania">
            <ul>
              <h3>Perseverancia:</h3>
              <ul>
                <li>Luchar incansablemente por cumplir los objetivos</li>
                <li>Estar fuertemente motivado y luchar por la superación.</li>
                <li>No rendirse ante las adversidades.</li>
              </ul>
              <h3>Humildad:</h3>
              <ul>
                <li>Mostrar gratitud y respeto por otros.</li>
                <li>Poseer un gran espíritu de equipo.</li>
                <li>Al enfrentar problemas, fijarse en áreas de responsabilidad personal en vez de culpar a otros.</li>
              </ul>
              <h3>Integridad:</h3>
              <ul>
                <li>Ser honesto, sincero y veraz..</li>
                <li>Entender y aceptar las propias fortalezas y debilidades.</li>
                <li>Desarrollar relaciones profesionales abiertas.</li>
              </ul>
              <h3>Pasión:</h3> 
              <ul>             
                <li>Disfrutar permanentemente del oficio.</li>
                <li>Trabajar por amor y no por obligación.</li>
                <li>Comprometer cuerpo y alma en las metas propuestas.</li>
              </ul>
              <h3>Creatividad:</h3>
              <ul>
                <li>Innovar de manera permanente.</li>
                <li>Desarrollar ideas en busca de la perfección.</li>
                <li>Perseguir el mejoramiento continuo, dejando de lado el conformismo.</li>
              </ul>       
          </div>

          <div id="3" class="tab-pane contenido-compania">
            <p>Trabajar con Rolem, es empezar una vida de innovación en pro del beneficio de los PC Gamers, lo cual requiere asumir un conjunto de conductas y responsabilidades para facilitar la convivencia y el desarrollo eficiente de las actividades diarias en la compañía.</p>
            <p>
            Estamos altamente comprometidos con el desarrollo de soluciones con un excelente balance entre desempeño, calidad, diseño y precio. Por esto mismo nuestros asociados a todo nivel, se distinguen por su afinidad con las siguientes características:</p>
            <ul>
              <li><h4>Conciencia sobre el contexto socio-económico del país:</h4></li>
              <p>En Colombia, la mayoría de las personas no tiene suficiente poder adquisitivo como para comprar un sistema de ultimo nivel, ni para renovarlo en periodos cortos de tiempo. De aquí surge la necesidad de diseñar productos que no solo sean costo-efectivos, sino que también hagan uso de las últimas tecnologías, de tal manera que se ayude a reducir la brecha socio-económica.</p>
              <li><h4>Conciencia ambiental:</h4></li>
              <p>Sobra resaltar la importancia de cuidar el medio ambiente, por esto mismo debemos comprometernos permanentemente en optimizar el diseño de nuestros sistemas, de tal manera que podamos minimizar el consumo energético de nuestros productos. Claramente esto también se debe reflejar en nuestras instalaciones administrativas y de producción.</p>
              <li><h4>Amplios conocimientos sobre tecnología:</h4></li>
              <p>Siendo un individuo asociado a Rolem, este debe tener un amplio y profundo conocimiento de la industria, significando esto que en ningún momento se debe hacer mal uso de tal juicio.</p>
              <p>Por ejemplo, bajo ninguna circunstancia, se debe sacar provecho de la falta de conocimiento de un potencial cliente o segmento de mercado, de tal manera que siempre se deben diseñar y comercializar los mejores productos.</p>
              <li><h4>Pasión por los computadores y/o los videojuegos:</h4></li>
              <p>Todos nuestros empleados y socios deben tener amplias bases y un buen historial, ya sea en el ámbito de los computadores personales o en los videojuegos.</p>
              <p>Por ejemplo, esta experiencia es importante en el momento de comprender el direccionamiento de la empresa, lo cual se hace fundamental al tener algún acercamiento a un cliente o un posible contacto de negocios.</p>
            </ul>
          </div>

          <div id="4" class="tab-pane contenido-compania">
            <p>En vez de obedecer los estándares y factores de forma de los Desktops convencionales, Rolem rompe las normas establecidas por los PCs de escritorio regulares para crear una de las experiencias de juego de PC más compactas y emocionantes que existen. Rolem es la evolución de los PCs de juegos.</p>
            <p>Rolem ha tomado todas las características necesarias para un jugador, y las ha encajado en varios diseños ultra-portátiles, que no son mucho más grandes que una consola de juegos promedio.</p>
            <p>A diferencia de otros PCs pequeños que hayas visto, Rolem ofrece propuestas compactas, ya que realizamos nuestros diseños de tal manera que se ajustan a las necesidades más exigentes y cada milímetro de espacio está lleno de poder.</p>
          </div>

          <div id="5" class="tab-pane contenido-compania">
            <h3>Legal:</h3>
            <p>
              <ul>
                <li>NOMBRE: ROLEM SAS.</li>
                <li>N.I.T: 900625278-8.</li>
                <li>ADMINISTRACION: DIRECCION SECIONAL DE IMPUESTOS DE BOGOTA, REGIMEN COMUN.</li>
                <li>MATRICULA NO: 02330521 DEL 12 DE JUNIO DE 2013.</li>
                <li>DIRECCION DE CORRESPONDENCIA: CL 59 NO. 50 20 B 08 501.</li>
                <li>MUNICIPIO: BOGOTA D.C.</li>
                <li>EMAIL CORPORATIVO: contact@rolem.com.co.</li>
                <li>REPRESENTANTE LEGAL: DANIEL MARTINEZ MORALES.</li>
                <li>SUPLENTE: JUAN DAVID MORALES PULIDO.</li>
                <li>OBJETO SOCIAL: LA SOCIEDAD TENDRA COMO OBJETO PRINCIPAL DISEÑAR, ENSAMBLAR, DISTRIBUIR Y COMERCIALIZAR COMPUTADORES PERSONALES (PCS) DE ALTO RENDIMIENTO, ASI COMO IMPORTAR Y EXPORTAR LOS MISMO Y/O LAS PARTES U OBJETOS QUE LOS COMPONEN. ASI MISMO, PODRA REALIZAR CUALQUIER OTRA ACTIVIDAD ECONOMICA LICITA TANTO EN COLOMBIA COMO EN EL EXTRANJERO. LA SOCIEDAD DOPRA LLEVAR A CABO, EN GENERAL, TODAS LAS OPERACIONES, DE CUALQUIER NATURALEZA QUE ELLAS FUEREN, RELACIONADAS CON EL OBJETO MENCIONADO, ASI COMO CUALESQUIERA ACTIVIDADES SIMILARES, CONEXAS O COMPLEMENTARIAS O QUE PERMITAN FACILITAR O DESARROLLAR EL COMERCIO O LA INDUSTRIA DE LA SOCIEDAD.</li>
                <li>ACTIVIDAD ECONOMICA PRINCIPAL: 2620.</li>
                <li>ACTIVIDAD ECONOMICA SECUNDARIA: 9511.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>