
<div class="container">
  <div class="row">
    <div class="span12 black-bg" style="margin-bottom:50px;">
      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
D

              <li class="active">

                <a href="#1" data-toggle="pill" class="sharp">Historia, Misión Y Visión<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#2" data-toggle="pill" class="sharp">Valores corporativos<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#3" data-toggle="pill" class="sharp">Código Ético<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#4" data-toggle="pill" class="sharp">Filosofía Empresarial<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#5" data-toggle="pill" class="sharp">Legal<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#6" data-toggle="pill" class="sharp">Términos y Condiciones<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#7" data-toggle="pill" class="sharp">Términos de uso<i class="icon-chevron-right pull-right"></i></a>

              </li> 
              <li>
                <a href="#8" data-toggle="pill" class="sharp">Partners y Aliados<i class="icon-chevron-right pull-right"></i></a>
              </li>                                                        

            </ul>
          </div>
        </div>
        <div class="span8 tab-content">

          <div id="8" class="tab-pane contenido-compania">

<center>
                <table>
                <tr>
                  <td style="width:300px;"><center><h3>Partners</h3></center></td>
                </tr>
              </table>
            <table>
              <tbody>
                <tr>
                  <td style="width:200px;"><center><strong>Intel</strong></center></td>
                  <td style="width:200px;"><center><strong>AMD</strong></center></td>
                  <td style="width:200px;"><center><strong>Nvidia</strong></center></td>
                </tr>
                <tr>
                  <td><center><strong>Microsoft</strong></center></td>
                  <td><center><strong>Seagate Technology</strong></center></td>
                </tr>
              </tbody>
            </table>
            <hr>

                <table>
                <tr>
                  <td style="width:300px;"><center><h3>Otros Aliados</h3></center></td>
                </tr>
              </table>
            <table>
              <tbody>
                <tr>
                  <td style="width:200px;"><center><strong>Valve</strong></center></td>
                  <td style="width:200px;"><center><strong>Thermaltake</strong></center></td>
                  <td style="width:200px;"><center><strong>Fractal Design</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>Western Digital</strong></center></td>
                  <td style="width:200px;"><center><strong>EVGA</strong></center></td>
                  <td style="width:200px;"><center><strong>ASUS</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>GIGABYTE</strong></center></td>
                  <td style="width:200px;"><center><strong>XFX</strong></center></td>
                  <td style="width:200px;"><center><strong>Noctua</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>ASRock</strong></center></td>
                  <td style="width:200px;"><center><strong>XiGMATEK</strong></center></td>
                  <td style="width:200px;"><center><strong>Sapphire Techonology</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>Cooler Master</strong></center></td>
                  <td style="width:200px;"><center><strong>Phanteks</strong></center></td>
                  <td style="width:200px;"><center><strong>BitFenix</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>ADATA</strong></center></td>
                  <td style="width:200px;"><center><strong>Campus Party Colombia</strong></center></td>
                  <td style="width:200px;"><center><strong>GSkill</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>OCZ</strong></center></td>
                  <td style="width:200px;"><center><strong>Crucial Memory</strong></center></td>
                  <td style="width:200px;"><center><strong>Micro-Star International</strong></center></td>
                </tr>                
                <tr>
                  <td style="width:200px;"><center><strong>Corsair</strong></center></td>
                  <td style="width:200px;"><center><strong>Kingston Technology</strong></center></td>
                  <td style="width:200px;"><center><strong>ZOTAC</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>Antec, Inc</strong></center></td>
                  <td style="width:200px;"><center><strong>Zalman Tech</strong></center></td>
                  <td style="width:200px;"><center><strong>Players Colombia</strong></center></td>
                </tr>
                <tr>
                  <td style="width:200px;"><center><strong>GG Colombia</strong></center></td>
                  
                </tr>
              </tbody>
            </table>            


</center>

          </div>

          <div id="1" class="tab-pane active contenido-compania">
            <h3>Historia:</h3>
            <p>Hemos sido Gamers apasionados desde que tenemos memoria, pero siempre hemos tenido dificultades al intentar obtener los mejores dispositivos para nuestras metas. Altos precios y productos de baja calidad que no pueden satisfacer nuestras necesidades han marcado la historia de los videojuegos en Colombia. Es por esto que nuestro proyecto empezó, con la idea de crear PC Desktops para jugar, ofreciendo el mejor balance entre desempeño y precio, usando las últimas tecnologías en el proceso de desarrollo y teniendo siempre una clara visión de lo que debe ser el futuro de los PCs para las presentes y nuevas generaciones.</p>
            <h3>Misión:</h3>

            <p>El principal objetivo de Rolem es poner a disponibilidad de todos los Colombianos, 
              computadores potentes, perfectamente optimizados para correr videojuegos de última 
              generación sin ninguna dificultad, conservando un tamaño extremadamente compacto 
              y pudiendo ser usados en cualquier tipo de espacio, ya sea en la oficina, el cuarto o la 
              sala, brindando todas las características necesarias para una excelente conectividad y portabilidad.

              Rolem define los estándares de lo que debe ser el PC para Gamers ideal. Rolem es la nueva generación.</p>
            <h3>Visión:</h3>
            <p>En los próximos años, Rolem va a ser la marca líder en ventas de PCs para Gamers en Latinoamérica, siendo reconocida como una marca de trayectoria, liderada por expertos en la industria, que ofrece diseños revolucionarios e innovadores.</p>

          </div>

          <div id="2" class="tab-pane contenido-compania">
            <ul>
              <h3>Perseverancia:</h3>
              <ul>
                <li>Luchar incansablemente por cumplir los objetivos</li>
                <li>Estar fuertemente motivado y luchar por la superación.</li>
                <li>No rendirse ante las adversidades.</li>
              </ul>
              <h3>Humildad:</h3>
              <ul>
                <li>Mostrar gratitud y respeto por otros.</li>
                <li>Poseer un gran espíritu de equipo.</li>
                <li>Al enfrentar problemas, fijarse en áreas de responsabilidad personal en vez de culpar a otros.</li>
              </ul>
              <h3>Integridad:</h3>
              <ul>
                <li>Ser honesto, sincero y veraz..</li>
                <li>Entender y aceptar las propias fortalezas y debilidades.</li>
                <li>Desarrollar relaciones profesionales abiertas.</li>
              </ul>
              <h3>Pasión:</h3> 
              <ul>             
                <li>Disfrutar permanentemente del oficio.</li>
                <li>Trabajar por amor y no por obligación.</li>
                <li>Comprometer cuerpo y alma en las metas propuestas.</li>
              </ul>
              <h3>Creatividad:</h3>
              <ul>
                <li>Innovar de manera permanente.</li>
                <li>Desarrollar ideas en busca de la perfección.</li>
                <li>Perseguir el mejoramiento continuo, dejando de lado el conformismo.</li>
              </ul>       
          </div>

          <div id="3" class="tab-pane contenido-compania">
            <p>Trabajar con Rolem, es empezar una vida de innovación en pro del beneficio de los PC Gamers, lo cual requiere asumir un conjunto de conductas y responsabilidades para facilitar la convivencia y el desarrollo eficiente de las actividades diarias en la compañía.</p>
            <p>
            Estamos altamente comprometidos con el desarrollo de soluciones con un excelente balance entre desempeño, calidad, diseño y precio. Por esto mismo nuestros asociados a todo nivel, se distinguen por su afinidad con las siguientes características:</p>
            <ul>
              <li><h3>Conciencia sobre el contexto socio-económico del país:</h3></li>
              <p>En Colombia, la mayoría de las personas no tiene suficiente poder adquisitivo como para comprar un sistema de ultimo nivel, ni para renovarlo en periodos cortos de tiempo. De aquí surge la necesidad de diseñar productos que no solo sean costo-efectivos, sino que también hagan uso de las últimas tecnologías, de tal manera que se ayude a reducir la brecha socio-económica.</p>
              <li><h3>Conciencia ambiental:</h3></li>
              <p>Sobra resaltar la importancia de cuidar el medio ambiente, por esto mismo debemos comprometernos permanentemente en optimizar el diseño de nuestros sistemas, de tal manera que podamos minimizar el consumo energético de nuestros productos. Claramente esto también se debe reflejar en nuestras instalaciones administrativas y de producción.</p>
              <li><h3>Amplios conocimientos sobre tecnología:</h3></li>
              <p>Siendo un individuo asociado a Rolem, este debe tener un amplio y profundo conocimiento de la industria, significando esto que en ningún momento se debe hacer mal uso de tal juicio.</p>
              <p>Por ejemplo, bajo ninguna circunstancia, se debe sacar provecho de la falta de conocimiento de un potencial cliente o segmento de mercado, de tal manera que siempre se deben diseñar y comercializar los mejores productos.</p>
              <li><h3>Pasión por los computadores y/o los videojuegos:</h3></li>
              <p>Todos nuestros empleados y socios deben tener amplias bases y un buen historial, ya sea en el ámbito de los computadores personales o en los videojuegos.</p>
              <p>Por ejemplo, esta experiencia es importante en el momento de comprender el direccionamiento de la empresa, lo cual se hace fundamental al tener algún acercamiento a un cliente o un posible contacto de negocios.</p>
            </ul>
          </div>

          <div id="4" class="tab-pane contenido-compania">
            <p>En vez de obedecer los estándares y factores de forma de los Desktops convencionales, Rolem rompe las normas establecidas por los PCs de escritorio regulares para crear una de las experiencias de juego de PC más compactas y emocionantes que existen. Rolem es la evolución de los PCs de juegos.</p>
            <p>Rolem ha tomado todas las características necesarias para un jugador, y las ha encajado en varios diseños ultra-portátiles, que no son mucho más grandes que una consola de juegos promedio.</p>
            <p>A diferencia de otros PCs pequeños que hayas visto, Rolem ofrece propuestas compactas, ya que realizamos nuestros diseños de tal manera que se ajustan a las necesidades más exigentes y cada milímetro de espacio está lleno de poder.</p>
          </div>

          <div id="5" class="tab-pane contenido-compania">
            <p>
              <ul>
                </p><li><strong>NOMBRE:</strong> ROLEM SAS.</li></p>
                <p><li><strong>DIRECCION DE CORRESPONDENCIA:</strong> CL 59 NO. 50 20 B 08 501.</li></p>
                <p><li><strong>MUNICIPIO:</strong> BOGOTA D.C.</li></p>
                <p><li><strong>EMAIL CORPORATIVO:</strong> contact@rolem.co.</li></p>
              </ul>
            </p>
          </div>

          <div id="6" class="tab-pane contenido-compania">
            <h3>Términos y Condiciones de Rolem ("Acuerdo")</h3>
            <p>Este acuerdo fue modificado por última vez en Agosto 21, 2013.</p>

            <p>Por favor lea estos Términos y Condiciones ("Acuerdo", "Términos y Condiciones") cuidadosamente antes de usar http://www.rolem.co/ ("la Página") operada por Rolem SAS ("nosotros", "nos" o "nuestro"). Este Acuerdo establece los términos y condiciones jurídicamente vinculables a su uso de la Página en http://www.rolem.co/.</p>
            <p>Al acceder o usar la Página de cualquier manera, incluyendo, pero no limitado a, visitar o navegar la Página o contribuir contenido u otros materiales a la Página, usted acepta estar vinculado a estos Términos y Condiciones. Los términos en mayúscula se definen en el presente Acuerdo.</p>

            <p><strong>Propiedad Intelectual</strong><br />La Página y su contenido original, características y funcionalidades son propiedad de Rolem SAS y están protegidos por derechos de autor internacionales, marcas registradas, patentes, secretos comerciales y otra propiedad intelectual o las leyes de derechos de propiedad.</p>

            <p><strong>Terminación</strong><br />Podemos terminar su acceso la Página, sin causa o aviso, lo cual puede resultar en la confiscación y destrucción de toda la información relacionada con usted. Todas las disposiciones de este Acuerdo que por su naturaleza deberían sobrevivir a la terminación sobrevivirán la terminación, incluyendo, sin limitación a, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.</p>

            <p><strong>Enlaces a Otras Paginas</strong><br />Nuestra Página puede contener enlaces a Páginas de terceros que no son propiedad de Rolem.</p>
            <p>Rolem SAS no tiene control sobre, y no asume ninguna responsabilidad por el contenido, políticas de privacidad o las prácticas de los sitios o servicios de terceros. Le aconsejamos que lea los términos y condiciones y la política de privacidad de cualquier sitio de terceros que visite.</p>

            <p><strong>Legislacion</strong><br />Este Acuerdo (y cualesquiera otras normas, políticas o lineamientos incorporados por referencia) se regirá e interpretará de acuerdo con las leyes de Colombia, sin dar efecto a cualquier principio de conflicto de leyes.</p>

            <p><strong>Cambios a este Acuerdo</strong><br />Nos reservamos el derecho, a nuestra sola discreción, de modificar o cambiar estos Términos y Condiciones mediante la publicación de los términos actualizados en el sitio. Su uso continuado del Sitio después de cualquier cambio constituye su aceptación de los nuevos Términos y Condiciones.</p>
            <p>Por favor revise este Acuerdo periódicamente para los cambios. Si usted no está de acuerdo con cualquiera de este Acuerdo o cualquier cambio a este Acuerdo, no use, acceda o continúe teniendo acceso al Sitio o interrumpa todo uso del Sitio inmediatamente.</p>
            <p> Publicado y generado con la autorización de <a href="http://termsfeed.com">www.TermsFeed.com</a>.</p>

            <p><strong>Contáctenos</strong><br />Si usted tiene alguna pregunta acerca de este Acuerdo, por favor póngase en contacto con nosotros.</p>

          </div>

          <div id="7" class="tab-pane contenido-compania">
            <p>Esta página web representa un documento legal que sirve de nuestras Condiciones de Uso y que rige las condiciones legales de nuestro sitio web, http://www.rolem.co/, sub-dominios, y las aplicaciones basadas en web y móviles asociados (colectivamente, "Sitio Web"), como propiedad y operado por Rolem SAS.</p>    
            <p>Los términos en mayúscula, a menos que se defina lo contrario, tienen el significado que se especifica en la sección Definiciones de abajo. Estos Términos de Uso, junto con nuestra política de privacidad, cualquier acuerdo de licencia móvil y otras pautas publicadas en nuestro sitio web, colectivamente "Términos Legales", constituyen el único y total acuerdo entre usted y Rolem SAS, y sustituyen todos los demás acuerdos, representaciones, garantías y entendimientos con respecto a nuestro sitio web y la materia contenida en el mismo. Podemos modificar nuestros Términos legales en cualquier momento sin previo aviso específico para usted. Los últimos ejemplares de nuestros Términos legales serán publicados en nuestro sitio web, y usted debe revisar todos los términos legales antes de utilizar nuestro sitio web. Después de las revisiones de nuestros Términos legales se publican, usted acepta estar sujeto a cualquier cambio en los mismos. Por lo tanto, es importante que revise periódicamente nuestros Términos legales para asegurarse de que aún está de acuerdo con ellas.</p>
            <p>Mediante el uso de nuestro sitio Web, usted se compromete a cumplir plenamente y estar sujeto a nuestros Términos Legales. Por favor, revise con cuidado. Si usted no acepta nuestros términos jurídicos, no acceda y utilice nuestro sitio web. Si ya ha accedido a nuestro sitio web y no aceptar nuestros Términos legales, se debe interrumpir inmediatamente el uso de nuestro sitio Web.</p>
            <p>La última actualización de nuestros Términos de uso fue publicada el 22 de agosto 2013.</p>

            <p><strong>Definiciones</strong><br />Los términos "nosotros" o "nos" o "nuestro" se refiere a Rolem SAS, propietario de la página web.</p>
            <p>Un "visitante" es alguien que simplemente navega por nuestro sitio web, pero no se ha registrado como miembro.</p>
            <p>Un "miembro" es un individuo que se ha registrado con nosotros para utilizar nuestro servicio.</p>
            <p>Nuestro "Servicio" representa la funcionalidad colectiva y características como sen ofrece a través de nuestro sitio Web para nuestros miembros.</p>
            <p>Un "usuario" es un identificador colectivo que se refiere tanto a un Visitante como a un Miembro.</p>
            <p>Todos los textos, informaciones, gráficos, audio, vídeo y datos que se ofrecen a través de nuestra página web se conocen colectivamente como el "Contenido ".</p>

            <p><strong>Cumplimiento Legal</strong><br />Usted acepta cumplir con todas las leyes nacionales e internacionales, estatutos, ordenanzas y reglamentos relativos a su uso de nuestro sitio Web. Rolem SAS se reserva el derecho de investigar las quejas o denuncias de violaciones de nuestros Términos legales y para tomar cualquier acción que consideremos apropiada, incluyendo pero no limitado a la cancelación de su cuenta de miembro, reportar cualquier actividad sospechosa de ser ilegal que los agentes del orden, los reguladores, u otros terceros y divulgar cualquier información necesaria o adecuada a dichas personas o entidades relacionadas con tu perfil, direcciones de correo electrónico, historial de uso, materiales publicados, direcciones IP e información de tráfico, según lo permitido por nuestra Política de privacidad.</p>

            <p><strong>Propiedad Intelectual</strong><br /> Nuestro sitio web puede contener nuestras marcas de servicio o marcas comerciales, así como las de nuestras afiliadas u otras compañías, en forma de palabras, gráficos y logotipos. El uso de nuestro sitio web no constituye ningún derecho o licencia para utilizar dichas marcas / marcas de servicio, sin el permiso previo por escrito de la marca / marca registrada propietario del servicio correspondiente. Nuestro sitio web está protegido por las leyes internacionales de derechos de autor. Queda terminantemente prohibida la copia, redistribución, uso o publicación por usted de cualquier parte de nuestro Sitio Web. El uso de nuestro sitio web no le otorga derechos de propiedad de cualquier tipo en nuestro sitio web.</p>

            <p><strong>Los enlaces a otros sitios web</strong><br />Nuestro sitio web puede contener enlaces a sitios web de terceros. Estos vínculos se proporcionan únicamente para su conveniencia. Al acceder a estos sitios web, no creamos o tenemos una afiliación con, o patrocinamos dichos sitios web de terceros. La inclusión de enlaces dentro de nuestro sitio web no constituye ningún aval, garantía, garantía, o recomendación de dichos sitios web de terceros. Rolem SAS no tiene control sobre los documentos legales y prácticas de privacidad de los sitios web de terceros y, como tal, puede acceder a cualquiera de estos sitios web de terceros a su propio riesgo.</p>

            <p><strong> Condiciones Generales </strong><br />Nuestros Términos legales serán tratados como si fuera ejecutado y realizado en Colombia y se regirá e interpretará de acuerdo con las leyes de Colombia sin tener en cuenta conflictos de principios legales. Además, usted acepta someterse a la jurisdicción personal de dichos tribunales. Cualquier causa de acción por usted con respecto a nuestro sitio web, debe interponerse en el plazo de un (1) año después de la causa de la acción o renunciar para siempre a cal y canto. Si cualquier parte de nuestros Términos legales se considera inválida o inexigible, esa parte se interpretará en conformidad con la ley aplicable y las partes restantes permanecerán en pleno vigor y efecto. En la medida en que cualquier contenido en nuestro sitio web o de los conflictos es incompatible con nuestros Términos legales, nuestros Términos legales prevalecerán. Nuestra incapacidad para hacer cumplir cualquier disposición de nuestros Términos legales no se considerará una renuncia a tal disposición ni del derecho de hacer cumplir tal disposición. Los derechos de Rolem SAS bajo nuestros Términos legales no desaparecen con la terminación de nuestros Términos legales.</p>


          </div>  
          </div> 
          </div> 
          </div>         



 
 

</div>