<div class="container">
  <div class="row">
    <div class="span12 white-bg">
      <div class="row ">
        <div class="span4">
          COLUMNA UBICACIONES
        </div>
        <div class="span8">
          COLUMNA MAPA
        </div>
      </div>

    </div>
  </div>
</div>