<div class="container">
  <div class="row">
    <div class="span12 black-bg" >
      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
              <li class="active">
                <a href="#1" data-toggle="pill" class="sharp">Historia, Misión Y Visión<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#2" data-toggle="pill" class="sharp">Valores corporativos<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#3" data-toggle="pill" class="sharp">Código Ético<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#4" data-toggle="pill" class="sharp">Filosofía Empresarial<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#5" data-toggle="pill" class="sharp">Legal<i class="icon-chevron-right pull-right"></i></a>
              </li>              
            </ul>
          </div>
        </div>
        <div class="span8 tab-content">

          <div id="1" class="tab-pane active contenido-compania">
            <h3>Historia:</h3>
            <p>Hemos sido Gamers apasionados desde que tenemos memoria, pero siempre hemos tenido dificultades al intentar obtener los mejores dispositivos para nuestras metas. Altos precios y productos de baja calidad que no pueden satisfacer nuestras necesidades han marcado la historia de los videojuegos en Colombia. Es por esto que nuestro proyecto empezó, con la idea de crear PC Desktops para jugar, ofreciendo el mejor balance entre desempeño y precio, usando las últimas tecnologías en el proceso de desarrollo y teniendo siempre una clara visión de lo que debe ser el futuro de los PCs para las presentes y nuevas generaciones.</p>
            <h3>Misión:</h3>
            <p></p>
            <h3>Visión:</h3>
            <p></p>
          </div>

          <div id="2" class="tab-pane contenido-compania">
            <ul>
              <h3>Perseverancia:</h3>
              <ul>
                <li>Luchar incansablemente por cumplir los objetivos</li>
                <li>Estar fuertemente motivado y luchar por la superación.</li>
                <li>No rendirse ante las adversidades.</li>
              </ul>
              <h3>Humildad:</h3>
              <ul>
                <li>Mostrar gratitud y respeto por otros.</li>
                <li>Poseer un gran espíritu de equipo.</li>
                <li>Al enfrentar problemas, fijarse en áreas de responsabilidad personal en vez de culpar a otros.</li>
              </ul>
              <h3>Integridad:</h3>
              <ul>
                <li>Ser honesto, sincero y veraz..</li>
                <li>Entender y aceptar las propias fortalezas y debilidades.</li>
                <li>Desarrollar relaciones profesionales abiertas.</li>
              </ul>
              <h3>Pasión:</h3> 
              <ul>             
                <li>Disfrutar permanentemente del oficio.</li>
                <li>Trabajar por amor y no por obligación.</li>
                <li>Comprometer cuerpo y alma en las metas propuestas.</li>
              </ul>
              <h3>Creatividad:</h3>
              <ul>
                <li>Innovar de manera permanente.</li>
                <li>Desarrollar ideas en busca de la perfección.</li>
                <li>Perseguir el mejoramiento continuo, dejando de lado el conformismo.</li>
              </ul>       
          </div>

          <div id="3" class="tab-pane contenido-compania">
            <p>Trabajar con Rolem, es empezar una vida de innovación en pro del beneficio de los PC Gamers, lo cual requiere asumir un conjunto de conductas y responsabilidades para facilitar la convivencia y el desarrollo eficiente de las actividades diarias en la compañía.</p>
            <p>
            Estamos altamente comprometidos con el desarrollo de soluciones con un excelente balance entre desempeño, calidad, diseño y precio. Por esto mismo nuestros asociados a todo nivel, se distinguen por su afinidad con las siguientes características:</p>
            <ul>
              <li><h3>Conciencia sobre el contexto socio-económico del país:</h3></li>
              <p>En Colombia, la mayoría de las personas no tiene suficiente poder adquisitivo como para comprar un sistema de ultimo nivel, ni para renovarlo en periodos cortos de tiempo. De aquí surge la necesidad de diseñar productos que no solo sean costo-efectivos, sino que también hagan uso de las últimas tecnologías, de tal manera que se ayude a reducir la brecha socio-económica.</p>
              <li><h3>Conciencia ambiental:</h3></li>
              <p>Sobra resaltar la importancia de cuidar el medio ambiente, por esto mismo debemos comprometernos permanentemente en optimizar el diseño de nuestros sistemas, de tal manera que podamos minimizar el consumo energético de nuestros productos. Claramente esto también se debe reflejar en nuestras instalaciones administrativas y de producción.</p>
              <li><h3>Amplios conocimientos sobre tecnología:</h3></li>
              <p>Siendo un individuo asociado a Rolem, este debe tener un amplio y profundo conocimiento de la industria, significando esto que en ningún momento se debe hacer mal uso de tal juicio.</p>
              <p>Por ejemplo, bajo ninguna circunstancia, se debe sacar provecho de la falta de conocimiento de un potencial cliente o segmento de mercado, de tal manera que siempre se deben diseñar y comercializar los mejores productos.</p>
              <li><h3>Pasión por los computadores y/o los videojuegos:</h3></li>
              <p>Todos nuestros empleados y socios deben tener amplias bases y un buen historial, ya sea en el ámbito de los computadores personales o en los videojuegos.</p>
              <p>Por ejemplo, esta experiencia es importante en el momento de comprender el direccionamiento de la empresa, lo cual se hace fundamental al tener algún acercamiento a un cliente o un posible contacto de negocios.</p>
            </ul>
          </div>

          <div id="4" class="tab-pane contenido-compania">
            <p>En vez de obedecer los estándares y factores de forma de los Desktops convencionales, Rolem rompe las normas establecidas por los PCs de escritorio regulares para crear una de las experiencias de juego de PC más compactas y emocionantes que existen. Rolem es la evolución de los PCs de juegos.</p>
            <p>Rolem ha tomado todas las características necesarias para un jugador, y las ha encajado en varios diseños ultra-portátiles, que no son mucho más grandes que una consola de juegos promedio.</p>
            <p>A diferencia de otros PCs pequeños que hayas visto, Rolem ofrece propuestas compactas, ya que realizamos nuestros diseños de tal manera que se ajustan a las necesidades más exigentes y cada milímetro de espacio está lleno de poder.</p>
          </div>

          <div id="5" class="tab-pane contenido-compania">
            <p>
              <ul>
                </p><li><strong>NOMBRE:</strong> ROLEM SAS.</li></p>
                <p><li><strong>DIRECCION DE CORRESPONDENCIA:</strong> CL 59 NO. 50 20 B 08 501.</li></p>
                <p><li><strong>MUNICIPIO:</strong> BOGOTA D.C.</li></p>
                <p><li><strong>EMAIL CORPORATIVO:</strong> contact@rolem.com.co.</li></p>
                <h3>Rolem Terms and Conditions ("Agreement")</h3>
                <p>This Agreement was last modified on August 21, 2013.</p>
                <p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") 
                carefully before using<a href=" http://www.rolem.com.co/ ">ROLEM</a>("the Site") operated by Rolem SAS 
                ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions 
                for your use of the Site at http://www.rolem.com.co/.</p>
                <p>By accessing or using the Site in any manner, including, but not limited to, visiting or 
                browsing the Site or contributing content or other materials to the Site, you agree to be 
                bound by these Terms and Conditions. Capitalized terms are defined in this Agreement.</
                p>
                <p><strong>Intellectual Property</strong><br />The Site and its original content, features 
                and functionality are owned by Rolem S.A.S. and are protected by international copyright, 
                trademark, patent, trade secret and other intellectual property or proprietary rights 
                laws.</p>
                <p><strong>Termination</strong><br />We may terminate your access to the Site, 
                without cause or notice, which may result in the forfeiture and destruction of all 
                information associated with you. All provisions of this Agreement that by their nature 
                should survive termination shall survive termination, including, without limitation, 
                ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
                <p><strong>Links To Other Sites</strong><br />Our Site may contain links to third-party 
                sites that are not owned or controlled by Rolem SAS.</p><p>Rolem S.A.S. has no control over, and assumes no responsibility for, the content, 
                privacy policies, or practices of any third party sites or services. We strongly advise you to 
                read the terms and conditions and privacy policy of any third-party site that you visit.</p>
                <p><strong>Governing Law</strong><br />This Agreement (and any futher rules, polices, 
                or guidelines incorporated by reference) shall be governed and construed in accordance 
                with the laws of Colombia, without giving effect to any principles of conflicts of law.</p>
                <p><strong>Changes To This Agreement</strong><br />We reserve the right, at our 
                sole discretion, to modify or replace these Terms and Conditions by posting the updated 
                terms on the Site. Your continued use of the Site after any such changes constitutes your 
                acceptance of the new Terms and Conditions.</p>
                <p>Please review this Agreement periodically for changes. If you do not agree to any of 
                this Agreement or any changes to this Agreement, do not use, access or continue to access 
                the Site or discontinue any use of the Site immediately.</p>
                <p>Published and generated with permission from <a href="http://
                termsfeed.com">www.TermsFeed.com</a>.</p>
                <p><strong>Contact Us</strong><br />If you have any questions about this Agreement, 
                please contact us.</p>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>