<div class="container">
  <div class="row">
    <div class="span12">
      <div class="noticias">

        <hr>
        <a href="http://desafiointel.com/anuncios" class="noti" target="_blank"><h3>Desafio Intel 2013 Semi-Finalistas</h3></a>
        <p>Estamos muy orgullosos de presentarles los mejores start-ups en cada uno de los siguientes países. Estos equipos están invitados a eventos de Pitch locales con el fin de competir para convertirse en un Finalista Desafio Intel, ganando un viaje y becas al YouNoodle Camp en julio. Mayo, 2013. <a href="http://desafiointel.com/anuncios/" class="noti" target="_blank"><ins>link.</ins></a></p>

        
        <hr>
        
        <!--<hr>
        <h3><a href="http://newsroom.intel.com/community/es_lar/blog/2013/05/17/emprendedores-colombianosconcursan-en-la-quinta-edici%C3%B3n-del-desaf%C3%ADo-intel-am%C3%A9rica-latina-2013">Emprendedores Colombianos concursan en la quinta edición del Desafío Intel ® América Latina 2013</a></h3>
        <p>10 proyectos de alta calidad competirán en la final del Desafío Intel representando el espíritu emprendedor y empresarial de los colombianos. Mayo 17, 2013. <a href="http://newsroom.intel.com/community/es_lar/blog/2013/05/17/emprendedores-colombianosconcursan-en-la-quinta-edici%C3%B3n-del-desaf%C3%ADo-intel-am%C3%A9rica-latina-2013"><ins>Link.</ins></a></p>
        <hr>-->

      </div>
    </div>
  </div>
</div>