<div class="container">
  <div class="row">

    <div class="span12 black-bg"style="margin-bottom:50px;">

      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
              <li class="active">
                <a href="#1" data-toggle="pill" class="sharp">Costo Total (Juegos más económicos)<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#2" data-toggle="pill" class="sharp">Mejores Graficas<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#3" data-toggle="pill" class="sharp">Mods<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#4" data-toggle="pill" class="sharp">Online<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#5" data-toggle="pill" class="sharp">Opción de controles<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#6" data-toggle="pill" class="sharp">Libertad<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#7" data-toggle="pill" class="sharp">Grabar Juegos<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#8" data-toggle="pill" class="sharp">Legacy Gaming y Emulación<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#9" data-toggle="pill" class="sharp">DLCs Gratis<i class="icon-chevron-right pull-right"></i></a>
              </li>               
              <li>
                <a href="#10" data-toggle="pill" class="sharp">Indie Gaming<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#11" data-toggle="pill" class="sharp">Librería Diversa<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="12" data-toggle="pill" class="sharp">Mejor Soporte<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#13" data-toggle="pill" class="sharp">Comunidad<i class="icon-chevron-right pull-right"></i></a>
              </li> 

            </ul>
          </div>
        </div>
        <div class="span8 tab-content">

          <div id="1" class="tab-pane active contenido-compania">

            <p>Mientras es verdad que un PC para jugar es más caro que una consola inicialmente, tú ahorras dinero a lo largo del tiempo ya que los juegos son más baratos en PC que en una consola. Muchas veces cuando se realiza la pre-orden de un juego en PC por medio de Steam, se pueden obtener descuentos del 10%. Tampoco debemos olvidar las famosísimas temporadas de descuentos en Steam y Origin, entre otras plataformas, donde los juegos pueden ser comprados frecuentemente por fracciones del precio en vitrina. Una de las temporadas más reconocidas, es la de Navidad en Steam, donde se pueden comprar muchos juegos a tan solo unos pocos dólares. </p>

            <p>También contamos con Humble Bundle, donde podemos pagar literalmente lo que queramos por excelentes promociones de juegos variando desde títulos Indie, hasta los más reconocidos títulos AAA.</p>

          </div>

          <div id="2" class="tab-pane contenido-compania">
            <p>Normalmente esta es la opción que la gente escoge por defecto al darle atención al PC. Cuando nuestros amigos con consolas ven juegos corriendo en PC, ellos literalmente no pueden creer lo rápido que corre, lo claro que todo se ve, ni la fidelidad visual en general. PC Gaming es lo último en tecnología. Es lo mejor disponible, es a donde la industria en general se está moviendo, y siempre lo será. En el 2007, Crysis fue el punto definitivo cuando la tecnología del PC fue pasos agigantados por encima de las consolas. Desde eso, hemos visto como muchísimos juegos siempre sacan un mayor provecho a la tecnología del PC para mostrar mejores gráficos.</p>
            <p>Inclusive con la siguiente generación de consolas, el PC sigue siendo una liga propia y retirada cuando se trata de capacidad gráfica.</p>
          </div>

          <div id="3" class="tab-pane contenido-compania">
            <p>Fácilmente este es uno de los argumentos más fuertes para jugar en PC, los mods son contenido gratuito, creado por el usuario, que cualquier persona puede descargar e instalar para mejorar o cambiar un juego. Modificando juegos es donde nacen muchas de las innovaciones de esta industria. Por ejemplo, Counter Strike era un mod del original Half Life, ganando tanta popularidad dentro de los jugadores Hardcore de FPS, que después pavimento la vía para Shooters militares modernos tales como Battlefield y Call of Duty.</p>
            <p>Otro gran ejemplo es el equipo que creo DayZ desde el Shooter moderno exclusivo para PC, ARMA II. DayZ se volvió un fenómeno del día a la noche de tal manera que ahora ha evolucionado a ser un juego totalmente independiente gracias a su popularidad.</p>
            <p>También podemos tener el excelente ejemplo de DotA, que siendo un simple mod del juego Warcraft III, alcanzo una popularidad tan elevada que no solo se volvió un juego totalmente independiente, sino que también un género completo (MOBA) dando paso a muchos más juegos similares, como Heroes of Newerth y League of Legends.</p>
            <p>Mientras algunos mods cambian gameplay o añaden nuevos mapas, vehículos y armas, otros mods están ahí para mejorar las gráficas. Con GTA IV, los Gamers han usado los mods ICEnhancer y ENB Series para lograr que el juego se vea absolutamente impactante. Skyrim se puede modificar para que el juego se vea casi foto realista, poniendo la fidelidad visual del juego pasos agigantados sobre la versión inicial.</p>
            <p>Finalmente, algunos juegos son extremadamente populares con mods, y hacer mods únicamente se está volviendo más fácil. Con el Workshop de Steam, instalar un mod en Skyrim es el simple caso de clickear “instalar mod”, sin preocupaciones ni enredos. El Workshop de Steam inclusive enlista los mods por su popularidad, de tal manera que es posible encontrar los mejores inmediatamente.</p>
          </div>

          <div id="4" class="tab-pane contenido-compania">
            <p>Primero que todo, ES GRATIS. Con la obvia excepción de MMOs como World of Warcraft, no es necesario pagar un centavo de más para poder jugar online. Ya se tiene que pagar por el Hardware, por el juego, por la conexión a internet, por qué carajos se debería pagar simplemente para conectarse con otros jugadores?</p>
          </div>

          <div id="5" class="tab-pane contenido-compania">
            <p>Vamos a usar algunos FPSs de Xbox para probar este argumento fácilmente. En Halo, se golpea melee con B. En COD, se golpea melee con Click Derecho. En BF3, se golpea melee con Bumper Derecho… Que pasa aquí? Existe una mejor manera? Si. En PC, in todos los FPS que se puedenjugar, siempre se puede tener el golpe melee asignado a la misma tecla, así como las granadas a otra. Siempre se puede tener la misma tecla para saltar, la misma para agacharse, para moverse y para correr, etc. En PC, se es posible cambiar los controles según nuestras necesidades exactas.</p>
            <p>Qué tal si hacemos las cosas un poco más locas? Qué tal si queremos jugar BF3 con teclado y mouse para cuando estamos en tierra o a pie, pero cuando estamos volando un jet entonces podemos cambiar a un control de Xbox para Windows, o a un Joystick que tenemos conectado, por qué no? Eso es lo que hacemos. Y si no tenemos un control de Xbox, podemos jugar con un control de PS3, o con uno totalmente genérico (además de económico). Para juegos como Shooters y juegos de estrategia puede ser preferible usar mouse y teclado, pero de nuevo, uno tiene la opción de elegir. Por qué no se puede usar mouse y teclado en una consola? Sería bueno si se pudiera, pero no tenemos la opción de elegir.</p>
          </div>

          <div id="6" class="tab-pane contenido-compania">
            <p>Nadie es dueño de la plataforma PC. Nadie dije “no puedes!”. Nadie empuja publicidades intrusivas. Somos totalmente libres de hacer lo que queramos con nuestros PCs. Podemos instalar Windows, Linux, o hasta Mac para jugar (algunos son mejores que otros). Si queremos modificar nuestros juegos, adelante. Si queremos jugar con un control, tenemos el poder! Jugamos como queremos y nadie lo impide. Tenemos la libertad de jugar como queramos.</p>
            <p>También contamos con una infinidad de plataformas. En las consolas solo están PSN y Xbox Live, solo una plataforma permitida por cada consola. Es absurdo. En PC tenemos Steam, Origin, GOG, Capsule y Xfire entre otras.</p>
          </div>

          <div id="7" class="tab-pane contenido-compania">
            <p></p>
            <p></p>
          </div>
          <div id="8" class="tab-pane contenido-compania">
            <p></p>
            <p></p>
          </div>

          <div id="9" class="tab-pane contenido-compania">
            <p></p>
            <p></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>