<div class="container black-bg" style="height:auto;">
  <div class="row">
    <div class="offset3 span6 formulario-usuario-contenedor">
      <div class="formulario-usuario">
        <h3 class="text-center" style="color:#CCC;" >Política de Privacidad de Rolem</h3>
        <p style="color:#CCC;" >Esta Política de Privacidad fue modificada por última vez el 22 de agosto, 2013.</p>
        <p style="color:#CCC;" >Rolem SAS ("nosotros", "nos" o "nuestro") opera http://www.rolem.com.co/ (el "Sitio"). Esta página le informa de nuestras políticas con respecto a la recopilación, uso y divulgación de información personal que recibimos de los usuarios del Sitio.</p>
        <p style="color:#CCC;" > Nosotros usamos su información personal sólo para proporcionar y mejorar el sitio. Al utilizar el Sitio, usted está de acuerdo con la recopilación y uso de información de acuerdo con esta política. Salvo disposición en contrario en esta Política de Privacidad, los términos utilizados en la presente Política de Privacidad tiene el mismo significado que en nuestros Términos y Condiciones, accesible en http://www.rolem.com.co/.</p>

        <p style="color:#CCC;" ><strong>Recopilación de Información y Uso </strong> <br /> Durante el uso de nuestro Sitio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede utilizar para ponerse en contacto o identificarlo. La información personal puede incluir, pero no limitarse a, su nombre, dirección de correo electrónico, dirección postal y número de teléfono ("Información Personal").</p>

        <p style="color:#CCC;" ><strong>Registro de datos</strong><br />Al igual que muchos operadores de sitios, recopilamos información que su navegador envía cada vez que visita nuestro Sitio ("Datos de Registro"). Este registro de datos pueden incluir información como el Protocolo de la computadora de Internet ("IP"), tipo de navegador, versión del navegador, las páginas de nuestro sitio que usted visita, la fecha y hora de su visita, el tiempo empleado en esas páginas y otros estadísticas.</p>

        <p style="color:#CCC;" ><strong>Cookies</strong><br />Cookies son archivos con pequeña cantidad de datos, que puede incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se almacenan en el disco duro de su ordenador.</p>
        <p style="color:#CCC;" >Como muchos sitios, utilizamos "cookies" para recoger información. Usted puede indicar a su navegador rechazar todas las cookies o para indicar cuando se está enviando una cookie. Sin embargo, si usted no acepta las cookies, es posible que no pueda utilizar algunas partes de nuestro sitio.</p>

        <p style="color:#CCC;" ><strong>Seguridad</strong><br />La seguridad de su información personal es importante para nosotros, pero recuerde que ningún método de transmisión por Internet, o método de almacenamiento electrónico, es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables de proteger su información personal, no podemos garantizar su absoluta seguridad.</p>

      </div>
    </div>
  </div>
</div>