<div class="container black-bg" style="height:auto;">
  <div class="row">
    <div class="offset3 span6 formulario-usuario-contenedor">
      <div class="formulario-usuario">
<h3>Términos y Condiciones de Rolem ("Acuerdo")</h3>
            <p>Este acuerdo fue modificado por última vez en Agosto 21, 2013.</p>

            <p>Por favor lea estos Términos y Condiciones ("Acuerdo", "Términos y Condiciones") cuidadosamente antes de usar http://www.rolem.co/ ("la Página") operada por Rolem SAS ("nosotros", "nos" o "nuestro"). Este Acuerdo establece los términos y condiciones jurídicamente vinculables a su uso de la Página en http://www.rolem.co/.</p>
            <p>Al acceder o usar la Página de cualquier manera, incluyendo, pero no limitado a, visitar o navegar la Página o contribuir contenido u otros materiales a la Página, usted acepta estar vinculado a estos Términos y Condiciones. Los términos en mayúscula se definen en el presente Acuerdo.</p>

            <p><strong>Propiedad Intelectual</strong><br />La Página y su contenido original, características y funcionalidades son propiedad de Rolem SAS y están protegidos por derechos de autor internacionales, marcas registradas, patentes, secretos comerciales y otra propiedad intelectual o las leyes de derechos de propiedad.</p>

            <p><strong>Terminación</strong><br />Podemos terminar su acceso la Página, sin causa o aviso, lo cual puede resultar en la confiscación y destrucción de toda la información relacionada con usted. Todas las disposiciones de este Acuerdo que por su naturaleza deberían sobrevivir a la terminación sobrevivirán la terminación, incluyendo, sin limitación a, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.</p>

            <p><strong>Enlaces a Otras Paginas</strong><br />Nuestra Página puede contener enlaces a Páginas de terceros que no son propiedad de Rolem.</p>
            <p>Rolem SAS no tiene control sobre, y no asume ninguna responsabilidad por el contenido, políticas de privacidad o las prácticas de los sitios o servicios de terceros. Le aconsejamos que lea los términos y condiciones y la política de privacidad de cualquier sitio de terceros que visite.</p>

            <p><strong>Legislacion</strong><br />Este Acuerdo (y cualesquiera otras normas, políticas o lineamientos incorporados por referencia) se regirá e interpretará de acuerdo con las leyes de Colombia, sin dar efecto a cualquier principio de conflicto de leyes.</p>

            <p><strong>Cambios a este Acuerdo</strong><br />Nos reservamos el derecho, a nuestra sola discreción, de modificar o cambiar estos Términos y Condiciones mediante la publicación de los términos actualizados en el sitio. Su uso continuado del Sitio después de cualquier cambio constituye su aceptación de los nuevos Términos y Condiciones.</p>
            <p>Por favor revise este Acuerdo periódicamente para los cambios. Si usted no está de acuerdo con cualquiera de este Acuerdo o cualquier cambio a este Acuerdo, no use, acceda o continúe teniendo acceso al Sitio o interrumpa todo uso del Sitio inmediatamente.</p>
            <p> Publicado y generado con la autorización de <a href="http://termsfeed.com">www.TermsFeed.com</a>.</p>

            <p><strong>Contáctenos</strong><br />Si usted tiene alguna pregunta acerca de este Acuerdo, por favor póngase en contacto con nosotros.</p>
      </div>
    </div>
  </div>
</div>