[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia http://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Seagate_logo.svg/547px-Seagate_logo.svg.png
Type=Link
URL=http://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Seagate_logo.svg/547px-Seagate_logo.svg.png
Icon=image-png
