
<div class="container">
  <div class="row">
    <div class="span12 black-bg" >
      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
            	<h1>Editing blog</h1>

<%= render 'form' %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>