<% if object.errors.any? %>
    <div class="control-group">
      <div class="alert alert-error">
        El formulario tiene <%= t 'error', count: object.errors.count %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li class="text-error"><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>