<%= form_tag signout_path, method: :delete do %>
    <li>
      <%= link_to 'Mi perfil', current_user %>
    </li>
    <li class="divider"></li>
    <li>
      <%= button_tag 'Cerrar sesión', class: 'btn btn-warning' %>
    </li>
<% end %>