<%= form_tag signout_path, method: :delete do %>
    <li>
      <%= link_to t('misc.my profile.one', count: 1), current_user %>
    </li>
    <li class="divider"></li>
    <li>
      <%= button_tag t('misc.form.log out.one', count: 1), class: 'btn btn-warning' %>
    </li>
<% end %>