
<div class="container">
    <div class="row show blog">
      <div class="span12 black-bg" style="margin-bottom:50px;">
 
              <div class="compania-navegacion">
                <ul class="nav nav-tabs nav-stacked no-border">
                  <!--formato para post -->

              
            


              <h1><%= @news.title %></h1>
              <strong><% if @news.created_at > Time.now.beginning_of_day %>
                  <%="#{time_ago_in_words(@news.created_at)} atras"%> en Rolem.
              <% else %>
                  <%= @news.created_at.strftime("%b %d, %Y") %> en Rolem. 
              <% end %></strong>
                <br>
                
              <%= sanitize(@news.description) %>


                <br><br><br>
                <br><br><br>
              
                   <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'rolemweb'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
            
<!--               <div class="offset1">
              <h4>About</h4>
              <p>Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias. Hablamos de un país paraisomático en el que a uno le caen pedazos de frases asadas en la boca. Ni siquiera los todopoderosos signos de puntuación dominan a los textos simulados; una vida, se puede decir, poco ortográfica. Pero un buen día, una pequeña línea</p>

          
              </div> -->
              </ul>
            </div>
        </div>
    </div>
  </div>
</div>