
@import "bootstrap";

// --------
// Social
// --------
.social {
  position: fixed;
  right: 20px;
  width: 60px;
}

.social-spacing {
  margin-right: 5px;
 width: auto;
}

.soc {
  height: 100px;
}

.user{
  right:0;
  top:0;
  position:absolute;
}



// --------
// Logo
// --------
.logo {
  text-align: center;
  margin-bottom: 1%;
  img{
    width: 120px;
     
  }

}


// --------
// General
// --------


.container{
  width:940px;
  position:relative;
  margin: 0 auto;
}


body {
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
  font-family: Kautiva, Helvetica;
  font-smooth: always;

}


.field_with_errors {
  display: inline;
}

.errors {
  margin-top: 30px;
}

.flash-message {
  margin-top: 30px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.btn-warning, .btn-danger {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color:white ;
}





// --------
// Navbar Justified
// --------

/* #dropdownmenu > li:nth-child(2) > ul > a:nth-child(2){
  pointer-events: none;
  cursor: default;
}*/
#dropdownmenu{
}
#dropdownmenu > li:nth-child(2) > ul{
  width:105px;
}
#dropdownmenu > li{
  width:14%;
}
#dropdownmenu > li:nth-child(6){
  width:200px;
}
.navbar .navbar-inner1 {
  padding: 0px;
  border:none;
  min-width:900px;
}

.navbar .nav {
  margin: 0;
  display: table;
  
}

.navbar .nav li {
  display: table-cell;
  float: none;


  
}

.navbar .nav li ul li{
  width: 100%;
  display: block;
  margin-top: 1px;
}
.navbar .nav li ul{
  width: 14.28571428571429%;
}

.navbar .nav >li> a {
  font-weight: bold;
  text-align: center;
  font-size: 0.95em;
  border-left: 1px solid rgba(255, 255, 255, .75);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
  border-left: 0;
}

.navbar .nav li:last-child a {
  border-right: 0;
}

.locale {
  color: #FFF;
}

.locale:hover, .locale:active {
  color: #fe9c39;
  text-decoration: underline;
}

// --------
// Navbar
// --------
#dropdownmenu > li:nth-child(2) > ul > a > li{
  padding-left:0px;
  padding-right:0px;
  text-align:center;
  line-height: 40px;
}
#dropdownmenu > li:nth-child(2) > ul > a:hover{
  color: #fe9c39;
}

ul#dropdownmenu li ul {
  display:none;
}

ul#dropdownmenu li:hover ul {
  
  display:block;
  position:absolute;
  z-index: 1000000;
}


.navbar-inverse {

  margin-bottom: 10px;

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #fe9c39;
  }
}



// --------
// Index
// --------

.carousel-control-indicators {
  list-style: none;
  margin: 0;
  position: absolute;
  right: 50%;
  top: 95%;
  z-index: 5;
}
.carousel-indicators .active {
  background-color: black;
}
.carousel-indicators li {
  display: block;
  float: none;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #8E8E8E;
  border-radius: 10px;
}

.carousel-indicators li:hover {
  cursor: pointer; cursor:hand;
}


// ----------
// Categorías
// ----------

.categorias{
  img{
    max-width:180px;
    line-height: 40px;

  }

  
  color: black;


  .logos{
    img{
      height: 70px;
      margin-left: 10px;
      margin-bottom: 5px;

    }
  }
  


  .derecha{
    float:right;
  }

  .bloqueC{

    float: left;
    background: white;
    min-width:468px;
    max-width:468px;
    margin:1px;
    height: 350px;
    .titulo{
      text-align: center;
    }
  }

  h1{
    color: #fe9c39;
    margin-top: 10px;
    strong{
        color: #777777;

    }
  }
  .leyenda{
    h4{
      color: #777777;
      margin-left: 10px;
      margin-top:50px;
    }
  }
}



// --------
// Productos
// --------
body > div > div.productos > a:nth-child(3) > div > ul > h1{
    margin-left:20px;
    width:600px;
  }
.productos {



  color: black;

  .logos{
    img{
      height: 70px;
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }

  .logos1{
  img{
      height: 45px;
      margin-left:240px;
      margin-top:-150px;
    }
  }

  .derecha{
    float:right;
    margin-top:-30px;
  }

  .izquierda{
    margin-top:25px;
  }

  .bloquep{
    background: white;
    float:left;
    width: 466px;
    height: 260px;
    margin: 2px;
    padding-top:10px;
  }
  .bloqueg{
    float: left;
    background: white;
    width: 936px;
    height: 24  0px;
    margin: 2px;
  }

  h1{
    color: #fe9c39;
    margin-top: 10px;
    strong{
      color: #777777;

    }
  }
  h3 {
    color: #777777;
    margin-top: -25px;
    margin-left: 83px;

  }
  img{ height: 180px;}

}





// --------
// Producto Especifico
// --------


.zl{
  width: 600px;
  margin-left: 100px;
}

.zo{
  margin-left: 50px;
}

.zO, .zo {
  margin-left: 5px;
  margin-right: 5px;
  
}



.precio { 
  color: #FE9C39;
  font-size:1.5em;  
}

.white-bg {
  background-color: white;
  color: black;
  height: 460px;
}

.pc-title {
  margin-top: 20px;
}

.pc-height {
  height: 240px;
  margin-bottom: 40px;
}

.tabs-margin {
  margin-right: 30px;
}

.tabs-bg {
  background-color: white;
  margin-bottom: 15px;

  ul {
    list-style-type: none;
  }
  li {
    list-style-type: none;
  }
}

.tabs-title {
  margin-top: 30px;
}

.thumbnail {
  height: 60px;
}

.no-border {
  border: 0;
}

.no-border li > a {
  background-color: #1F1E19;
  border: 0;
  border-radius: 0;
  color: white;
}

.no-border li > a:hover {
  background-color: #505050;
  border: 0;
  border-radius: 0;
  color: white;
}

.no-border .active > a {
  background-color: #505050;
  border: 0;
  border-radius: 0;
  color: white;
}

.no-border .active > a:hover {
  background-color: #505050;
  border: 0;
  border-radius: 0;
  color: white;
}


  .noti:link {text-decoration: none; color:#FF9F12;}
  .noti:visited {text-decoration: none; color:#FF9F12;}
  .noti:hover {text-decoration: none; color:#FF9F12;}

  a:link {text-decoration: none; color:white;}
  a:visited {text-decoration: none; color:white;}
  a:hover {text-decoration: none; color:white;}

.tra-tex{
  display:inline-block;}


//------------
// Tradicional
//------------

.center {
  margin-left:7%;
}
.right{float:right;margin-right:30px;}
.left{float:left; margin-left:40px;}

.btnintel{
  background: #1073B4;
}

.btnamd{
  background:#D3181F;
}

.btn1{
  background: #D6A028;
}
.btn2 {
  background: #B97B11;
}
.btn3 {
  background: #D87638;
}
.btn4 {
  background: #CC6635;
}
.btn1 ,.btn2, .btn3 ,.btn4 ,.btnintel ,.btnamd{
  text-decoration: none;
  display: inline-block;
  font-family: Kautiva;
  color: #ffffff;
  margin-top:10px;
  margin-right:10px;
} 

.btnintel, .btnamd{
  font-size:30px;
  padding:20px 20px 20px 20px;  
}

.btnintel:hover{
  background:#10A3B6;
}
.btnamd:hover{
  background:#D3581F;
}

.btn1 ,.btn2, .btn3 ,.btn4{
  font-size:20px;
  padding: 10px 20px 10px 20px;
}

.btn1:hover ,.btn2:hover, .btn3:hover ,.btn4:hover {
  background: #FE9C39;
  text-decoration: none;
}



// --------
// Noticias
// --------
.noticias {
  background-color: white;
  color: #B4B4B4;
  margin-bottom: 2px;
  padding: 10px 25px;
}


// --------
// Compañia
// --------

.compania-navegacion {

  margin: 0 30px;
  font-size: 1.1em;
  .no-border li > a.sharp {
    border-radius: 0;
  }

  .no-border li > a:hover {
    background-color: #505050;
    border: 1px solid #ddd;
    color: #B4B4B4;
  }

  .no-border li.active, .no-border li > a:hover, .no-border li > a:active {
    i {
      @extend .icon-white;
      opacity: 1;
    }
  }
  p {
    text-align:justify;
  }

  h1 {
    position: initial;
  }

}

.black-bg {
  font-size: 1.1em;
  background-color: #1F1E19;
  padding: 15px 0;
}

.contenido-compania {
  padding-right: 30px;
  color:#B4B4B4;

td{
  width: 200px;
  vertical-align: bottom;
}

}
.otros{
  a{color:#B4B4B4;}
}

.logo-partner{
  img{ max-width: 150px;}
}

.logos-d{
  width: 250px;
  text-align: center;
  border-style: solid; border-width: 2px;
  border-color: #333433;
  float: left;
  padding: 10px;
  margin: 30px;
}



// --------
// Sign Up / Login
// --------
.btn-group > .btn:first-child {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.formulario-login {
  padding: 10px 10px 5px 10px;

  form {
    margin-bottom: 0px;

    li:last-child {
      margin-top: 10px;
    }

    button {
      width: 100%;
    }

    a {
      color: #B4B4B4;
    }
  }


}

.dropdown-menu {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: black;
  left: auto;
  right: 0;
}

// --------
// Google Maps
// --------
.direcciones {
  margin: 30px;
  color: #B4B4B4;
}

#map_canvas {
  height: 460px;
  width: 100%;
}

// --------
// Usuarios
// --------
.formulario-usuario-contenedor {
  background-color: black-bg;
  color: #B4B4B4;

  .formulario-usuario {
    padding: 22px 20px 20px;

    form {
      margin-bottom: 0px;
    }
  }
}

.formulario-general {
  input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #CCC;
    color: #000;
  }

  select {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input[type="date"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #777;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 119, 119, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 119, 119, 0.6);
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #777;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #777;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #777;
  }
}

.perfil-contenedor {
  background-color: #FFF;
  color: #000;

  .perfil-navegacion {
    margin: 30px;

    .no-border li > a:hover {
      background-color: #505050;
      border: 1px solid #ddd;
      color: white;
    }

    .no-border {
      a.sharp {
        border-radius: 0;
      }
    }
  }

  .perfil-informacion {
    margin: 30px;

    .control-group {
      margin-bottom: 30px;
    }
  }
}

// ------------
// Responsive
// ------------

// Social

  .social-tablet {
    width: 150px;
  }


//---------------
//Blog for poster
//---------------

.blog {

  img {
    margin:20px;
    width: 120px;
    float: left;

  }
  ul {
    margin-left: 40px;
    text-align: justify;
  }
  h1{
  color: #fe9c39;
  }
  strong{
    color: #B4B4B4;
  }

}

.show {

  img {
    width: 480px;
    margin-left: 220px;
  }
  ul {
    margin-left: 40px;
    text-align: justify;
  }

}

//-------------
//DONDE comprar
//-------------

.comprar{
  h1{
    color:#fe9c39;

  }
  h3{
    color: #fe9c39;
  }
  p{
    color: #B4B4B4;
  }
  a{color: #B4B4B4;}
}
.contrato{
  ul{
    margin-left: 20px;
  }
  margin-left: 40px;
  .descarga{
    text-align: center;
  }
}

//--------
//CONTACTO
//--------

.contacto{
  h4{
    color: #B4B4B4;
  }
  
  table{
    font-size: 1.2em;
  }
}


footer{
  margin: auto;
  width: 1110px;
  background: #505050;
  margin-top: 30px;
  padding: 30px;

}

//----------
//POR QUE PC
//----------

@pqpc{
  .a{
    color: #f89406 
  }
}






// ----     
//Font Faces
// ----
@font-face {
  font-family: 'Kautiva';
  src: url('Kautiva.ttf');
  src: local('Kautiva'), local('Kautiva'), url(Kautiva.ttf) format('truetype')
}
@font-face {
  font-family: 'Kautiva-Bold';
  src: url('Kautiva-Bold.ttf');
  src: local('Kautiva-Bold'), local('Kautiva-Bold'), url(Kautiva-Bold.ttf) format('truetype')
}
@font-face {
  font-family: 'Kautiva-Italic';
  src: url('Kautiva-Italic.ttf');
  src: local('Kautiva-Italic'), local('Kautiva-Italic'), url(Kautiva-Italic.ttf) format('truetype')
}
@font-face {
  font-family: 'Kautiva-Black';
  src: url('Kautiva-Black.ttf');
  src: local('Kautiva-Black'), local('Kautiva-Black'), url(Kautiva-Black.ttf) format('truetype')
}
@font-face {
  font-family: 'Kautiva-Black-Italic';
  src: url('Kautiva-Black-Italic.ttf');
  src: local('Kautiva-Black-Italic'), local('Kautiva-Black-Italic'), url(Kautiva-Black-Italic.ttf) format('truetype')
}
@font-face {
  font-family: 'Kautiva-Bold-Italic';
  src: url('Kautiva-Bold-Italic.ttf');
  src: local('Kautiva-Bold-Italic'), local('Kautiva-Bold-Italic'), url(Kautiva-Bold-Italic.ttf) format('truetype');
}