// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -----
// Index
// -----

.carousel-indicators {
  list-style: none;
  margin: 0;
  position: absolute;
  right: 50%;
  top: 95%;
  z-index: 5;
}
.carousel-indicators .active {
  background-color: black;
}
.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #8E8E8E;
  border-radius: 10px;
}

.carousel-indicators li:hover {
  cursor: pointer; cursor:hand;
}

// -----
// Productos
// -----

.products {
  background-color: white;
  color: #B4B4B4;
  margin-bottom: 2px;
  padding: 5px 0;

  h1 {
    font-family: kautiva-black, helvetica;
    font-size: 2.3em;
  }
}

.volcano-r {
  padding-right: 5%;
  text-align: justify;
}

.prodigy-l {
  text-align: right;
}
.prodigy-r {
  padding-right: 5%;
}

.mas-info {
  a, a:hover, a:visited {
    color: #FF9F12;
  }
}