<footer>
  <div class="container">
    <div class="row">
      <!--<div class="span1 footer-dl">
        <%= link_to image_tag('footer-logo.png', alt: 'disruption Labs footer logo.'), 'http://www.disruptionlabs.co', target: '_blank' %>
      </div>-->
    </div>
  </div>
</footer>