<footer>
  <div class="container">
    <div class="row">
      <div class="span1 footer-dl">
        <%= link_to image_tag('footer-logo.png', alt: 'disruption Labs footer logo.'), 'http://www.disruptionlabs.co', target: '_blank' %>
      </div>
      <div>
      	<%= link_to 'https://www.facebook.com/rolemgaming',	 target: '_blank'  do %>
      		<p class="span2" style="margin-top:20px;"> <i><b>R</b><i>olem</i> <i><b>M</b>edia</i> <i><b>G</b>roup</i> </p>
      	<% end -%>
      </div>
    </div>
  </div>
</footer>