<div class="container logo">
  <div class="row">
    <div class="span12 text-center">
      <a href="<%= root_url %>">
        <%= image_tag 'logo.png', alt: 'Rolem' %>
      </a>
    </div>
  </div>
</div>

