<div class="span1">
  <div class="social-tablet">
    <a href="http://wwww.facebook.com/" target="_blank">
        <%=	image_tag 'fb.png', alt: 'Likes us on Facebook', class: 'social-spacing' %>
    </a>
    <a href="http://www.twitter.com/" target="_blank">
        <%=	image_tag 'tw.png', alt: 'Follow us on Facebook' %>
    </a>
  </div>
</div>

