<div class="span1">
  <div class="social-tablet">

  	<a href="http://steamcommunity.com/groups/Rolem" target="_blank">
    	<%=	image_tag 'steam2.png',class: 'social-spacing' %>
    </a>
    <a href="https://www.facebook.com/rolemgaming" target="_blank">
        <%=	image_tag 'fb.png' ,class: 'social-spacing' %>
    </a>
    <a href="https://plus.google.com/112520537490081323363" rel="publisher" target="_blank">
    	<%=	image_tag 'plus.png' ,class: 'social-spacing' %>
    </a>
  </div>
</div>

