<div class="span1">
  <div class="social-tablet">

  	<a href="http://steamcommunity.com/groups/Rolem" target="_blank">
    	<%=	image_tag 'steam.png' %>
    </a>
    <a href="https://www.facebook.com/rolemgaming" target="_blank">
        <%=	image_tag 'fb.png' ,class: 'social-spacing' %>
    </a>

  </div>
</div>

