<div class="span1">
  <div class="social-tablet">
    <a href="https://www.facebook.com/rolemgaming" target="_blank">
        <%=	image_tag 'fb.png' ,class: 'social-spacing' %>
    </a>
   <a href="http://steamcommunity.com/groups/Rolem" target="_blank">
        <%=	image_tag 'tw.png' %>
    </a>
  </div>
</div>

