<div class="container">
  <div class="row">
    <div class="span12 text-center">
      <div class="offset10 span2">
        <div class="btn-group">
          <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            Sign Up / Login
          </button>
          <ul class="dropdown-menu">
            <li>
              Correo Electrónico
            </li>
            <li>
              Contraseña
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

